
仙剑掌门郑士欣


      郑士欣。现正执掌仙剑门户，同时身为剑士公会总会长。近十余年来，
  因仙剑七侠已能独当一面，分担派内事务；而公会事务也由三长老柳毅全权
  负责，郑士欣每天除了至藏经阁精研武学外，就是在此接见外宾。著名绝招
  为双十旋龙斩和融合「仙剑禁断之连阳七诀”的七阳连天.
     
      仙剑派镇派之宝 : 郑士欣的佩剑连阳剑, 是逍遥子所传下来的宝剑.

      灵剑连阳, 和灵刀夜千鸟, 灵笔丽玉蝶兰并称「开天三灵器”.剑身通体
  成虹, 剑锋更有隐隐泛出如火红光, 锐利无比.

